*{
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke;
}
h1{
    background-image: linear-gradient(90deg, #72CFED, #186C86);
    margin: 0;
    padding: 0;
}
main{
    display: flex; /*coloca os elementos dentro dele um do lado do outro*/
    box-sizing: border-box;
    box-shadow: 1em 1em 1em 0.2 rgb(211, 211, 211);
    gap: 2em;
    justify-content: space-between; /*distribui os cards uniformemente dentro espaço*/ /*só funciona com o display flex*/
    margin: 4em auto;
    max-width: 80em;
}
section{
    border: 1px solid rgb(180, 180, 180);
     /* width: 22em; */
     padding: 2em;
     min-height: 22em;
     background-color: white;
}
h2{
    color: #186C86;
    margin-top: 2em;
    margin-bottom: 1em;

}
span{
    color: darkgray;
    display: flex;
    justify-content: right;
}
p{
    display: flex;
    margin
}