body{
    background-color: #f9f1dc;
    font-family: garamond, Georgia, 'Times New Roman', Times, serif;
}
h1{
    text-align: center;

}
figure{
    text-align: center;
}
figure img{
    text-align: center;
    border: 2px solid #F5BD26;
}
li{
    display: inline;
    list-style: none;
    display: inline-block;
    padding: 1em;
}
ul{
    margin-left: 40em;
    margin-right: 35em;
}
h2{
    text-align: center;
    border-bottom: 1px solid #F5BD26;
}
p{
    text-align: center;
}
footer{
    text-align: center;
}
#menu-h{
    border: 2px solid #F5BD26;
    margin-left: 40em;
    margin-right: 35em;
    text-align: center
    
}