body{
    background-image: url('imagens/fundoadele.svg'); /* Imagem de fundo */
    background-size: cover;             /* Faz a imagem cobrir toda a tela */
    background-repeat: no-repeat;       /* Evita que a imagem se repita */
    background-position: center ;        /* Centraliza a imagem */
}
*{
    margin: 0;
    padding: 0;
}

.conteiner{
    background-image: url("imagens/Rectangle\ 2.png");
    margin-top: 0;
    padding: 12px;
}
.conteiner p{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 60px;
}

ul a{
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}
nav ul li{
    text-align: center;
    display: inline-block;
    padding: 50px;
}
nav{
    text-align: center;
    padding: 2px;
}    
a{
    text-decoration: none;
    color: white;
    text-align: center;    
}
.texto-imagem{
    text-align: center;
    color: white;
    display: grid;
    grid-template-areas: 
    "x y"
    ;
    gap: 40px; /* Espaço entre as imagens */
    padding: 7em;
    max-width: 1400px;
    margin: 0 auto;
}
section .a{
    grid-area: x;
}
section .b{
    grid-area: y;
}



footer{
     width: 100%;
    background-image: url("imagens/Rectangle 1.png");
    background-size: cover;         /* Faz a imagem cobrir toda a área do rodapé */
    background-position: center;    /* Centraliza a imagem */
    background-repeat: no-repeat;   /* Evita repetição da imagem */
    padding: 30px 20px;             /* Espaçamento interno */
    text-align: center;     
}
section{
    text-align: center;
    padding: 20px;
}
ul.icons{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 100px; /* espaçamento entre os ícones */
}
ul.icons li img:hover {
    transform: scale(1.1); /* efeito de zoom ao passar o mouse */
}
section p{
    margin-top: 15px;
    font-size: 28px;
    color: #ffffff;
}