*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
}
header{
    width: 100%;
    background-color: rgb(0, 60, 92)

}
.top-header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-header{
    background-color: white;
    padding: 20px 4%;
}
.top-header .logotipo img{
    max-width: 100px;
    

}
.icones img{
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgb(0, 60, 92);
    cursor: pointer;
}
.bottom-header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;

}
.bottom-header nav ul li a{
    color: white;
    padding: 20px 40px;
    text-decoration: none;
    font-weight: 600;
    display: block;
    transition: .2s;
}
.bottom-header nav ul li a:hover{
    background-color: #ed6b86;
    color: #424147;
    box-shadow: inset 0 0 8px black;
}
.drop-hover{
    position: relative;
}
.drop-hover .drop{
    width: 100%;
    position: absolute;
    background-color: rgb(11, 74, 108);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.5s;

}
.drop-hover .drop a{
    padding: 20px;

}
.drop-hover:hover .drop{
    height: 335px;
}